<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite1" verbose="10" parallel ="true" thread-count="5">
  <!-- <parameter browser1="selenium.browser" value="*chrome" /> -->
 <!-- <parameter browser2="selenium.browser" value="*firefox" /> -->
  <test name="vijay">
    <classes>
    <class name="testSuites.TestSuite"> </class>
    </classes>
  </test>
</suite>
